<template>
  <div>
    <div class="container mx-auto py-32 px-4 lg:px-40">
      <h1 class="text-2xl font-bold">Category: {{category_data.name}}</h1>
      <ThePostExcerpt v-for="post_item in category_data.data" v-bind:post_data="post_item"></ThePostExcerpt>
    </div>
  </div>
</template>

<script>
import ThePostExcerpt from "@/components/ThePostExcerpt";
export default {
  components: {ThePostExcerpt},
  layout: 'category_page',
  data() {
    return {
    }
  },
  async asyncData({ params }) {
    const category_data = await fetch(
      process.env.BACKEND_ADDR + '/wp-json/headless-blog/v1/category/' + params.slug
    ).then((res) => res.json())
    return { category_data };
  },
}
</script>

<style scoped>

</style>
