<template>
  <ul class="rounded-2xl border-2 border-gray-100 overflow-hidden mt-10" v-if="categories">
    <li class="bg-green-400 hover:bg-green-500 hover:text-white" v-for="category in categories">
      <NuxtLink class="flex p-4" v-bind:to="'category/' + category.slug">
        <div class="category-name" v-bind:style="(!category.name) ? 'min-height: 1.5rem' : ''">{{category.name}}</div>
        <div class="ml-auto">{{category.post_count}}</div>
      </NuxtLink>
    </li>
  </ul>
</template>

<script>
export default {
  props:{
    categories: {
      type: Array,
    },
  },
}
</script>

<style scoped>

</style>
