<template>
    <form method="post"
              @submit.prevent="validateUser"
              :action="backend_addr + 'wp-json/headless-blog/v1/login'">
        <div class="mb-4">
            <label for="username">Username or Email</label>
            <input class="block w-full border-[#ccc] rounded"
                   v-model="formData.username"
                   name="username" id="username" type="text"/>
        </div>
        <div class="mb-4">
            <label for="password">Password</label>
            <input class="block w-full border-[#ccc] rounded"
                   v-model="formData.password"
                   id="password" name="password" type="password"/>
        </div>
        <button class="bg-yellow-600 rounded-full text-white py-4 mt-8 w-full block">Login</button>
    </form>
</template>

<script>
export default {
    name: "LoginForm",
    data() {
        return {
            backend_addr: process.env.BACKEND_ADDR,
        }
    },
    props: {
        formData: {
            type: Object,
        },
        errorMessage: {
            type: String,
        },
    },
    methods: {
        validateUser() {
            this.$emit('form-submitted', this.formData)
        }
    }
     
}
</script>