<template>
  <div class="relative py-20 lg:h-[700px] flex items-center overflow-hidden ">
    <img class="absolute z-10 left-0 top-0 w-full h-full object-cover object-center" :srcset="backgroundSrcset"/>
    <div class="absolute z-20 inset-0 overlay bg-[#000] opacity-75"></div>
    <div class="relative z-30 container mx-auto px-4 lg:px-40">
      <div class="pb-20">
        <TheBreadcrumb></TheBreadcrumb>
      </div>
      <h1 class="title text-4xl lg:text-5xl text-white leading-[1.1] mb-4" v-html="title"></h1>
      <time class="static inline-block mt-4 text-white font-bold">
        <span class="">{{date}}</span>
        <span class="">{{time}}</span>
      </time>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostBanner",
  components: {},

  props: {
    title: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    time: {
      type: String,
      required: true,
    },
    backgroundSrcset: {
      type: String,
      required: true,
    }
  },
}
</script>

<style scoped>

</style>
