<template>
  <nav aria-label="breadcrumbs" data-cypress="breadcrumbs" class="container py-4 hidden lg:block ">
    <ol class="flex items-center text-white uppercase font-extrabold" itemscope itemtype="https://schema.org/BreadcrumbList">
      <li class="px-2 first:pl-0 breadcrumb-item flex items-center" v-for="item in breadcrumb" :key="item.id">
        <NuxtLink :to="item.link" v-html="item.title">
        </NuxtLink>
      </li>
    </ol>
  </nav>
</template>

<script>
var titleCase = require('ap-style-title-case')
export default {
  name: "TheBreadcrumb",
  props: {
    crumbs: {
      type: Array,
      required: false,
    }
  },
  computed: {
    autogen_crumbs() {
      let crumb = []
      let full_path = this.$route.fullPath
      let init_path = ''
      // Remove the first occurance in the array which is always empty. This happens as full path start with /
      let path_arr = full_path.substring(1).split('/')

      //Handle root dir
      crumb.push({
        title: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">\n' +
          '  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>\n' +
          '  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>\n' +
          '</svg>',
        link: '/'
      })
      // Get ready for breadcrumb struct
      path_arr.forEach((e, i) => {
        init_path = `${init_path}/${e}`
        crumb.push({
          title: titleCase(e.replace(/-/g, ' ')),
          link: (this.$router.match(init_path).name === null) ?  '' : init_path
        })
      })
      return crumb
    },

    breadcrumb() {
      let crumb = (this.crumbs) ? this.crumbs : this.autogen_crumbs
      return crumb.map((e, i) => {
        return {...e, id: i+1}
      })
    }
  },

}
</script>

<style scoped lang="scss">
.breadcrumb-item{
  &:not(:last-child):after{
    content: '/';
    margin-left: 1rem;
  }
}
</style>
