<template>
  <div class="hidden fixed z-10 flex top-0 left-0 w-full h-full" role="dialog" aria-labelledby="">
    <div class="modal-overlay bg-gray-500 opacity-70 top-0 left-0 w-full h-full fixed">
    </div>
    <div class="z-20 container mx-auto flex items-center justify-center px-4">
      <div class="bg-white p-4 w-full md:w-5/12">
        <h2 class="text-3xl text-center font-bold mb-4">Request for an account</h2>
        <div>The membership of this site is invite only. Please fill in the Contact Form below to submit a request for an account.</div>
        <form>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheDialogStyleOne"
}
</script>

<style scoped>

</style>
