<template>
  <nav class="flex items-center absolute w-full text-white z-50 p-4">
    <div class="relative ">
      <NuxtLink to="/"><h1 class="font-bold">Tech centric</h1></NuxtLink>
    </div>
    <div class="ml-auto">
      <NuxtLink to="/about"><h1 class="font-bold">About</h1></NuxtLink>
    </div>
  </nav>
</template>

<script>
export default {
name: "TheHeader"
}
</script>

<style scoped>

</style>
