<template>
  <div>
    <PostBanner :title="post_data.title"
                :background-srcset="post_data.thumbnail_srcset"
                :date="blog_date"
                :time="blog_time"></PostBanner>
    <div class="container mx-auto p-4">
      <div class="lg:flex pt-8">
        <NuxtLink v-bind:to="'/category/' +  category.slug " class="inline-block px-4 m-2 bg-yellow-200 rounded-full" v-for="category in post_data.category">
          #{{category.name}}
        </NuxtLink>
      </div>
    </div>
    <section class="container mx-auto px-4 py-8 lg:px-40">
      <div v-if="post_data.update">
        <div class="my-4 py-4 update-item relative" v-for="(update, index) in post_data.update">
          <div class="pl-7">
            <h2 class="font-bold">Update: {{update.date | filter_datetime}}</h2>
            <article v-html="update.content"></article>
          </div>
        </div>
      </div>
      <article v-html="post_data.content"></article>
    </section>
  </div>
</template>

<script>
import PostBanner from "./PostBanner";
var dayjs = require('dayjs')
export default {
  components: {PostBanner},
  props: {
    post_data: {
      type: Object
    },
  },
  computed: {
    blog_date(){
      return dayjs(this.post_data.date).format('DD MMMM, YYYY')
    },
    blog_time() {
      return dayjs(this.post_data.date).format('HH:mm')
    }
  },
  filters: {
    filter_datetime(date) {
      return dayjs(date).format('DD MMMM, YYYY HH:mm')
    }
  }
}
</script>

<style lang="scss">
article{
  p{
    margin-bottom: 1rem;
  }
  pre.wp-block-code{
    background-color: #e5e7eb;
    padding: 1rem;
    max-width: 100%;
    overflow: auto;
  }
}
.thumbnail-container{
  &:before{
    padding-top: 50%;
    content: '';
    display: block;
  }
  &> *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.update-item{
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    bottom: 0;
    background-color: aquamarine;
    border-radius: 9999px;
  }
}
</style>
