body {
  font-family:  "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}
article{
  h1, .h1{
    font-size: 1.5rem;
    font-weight: bold;
  }

  h2, .h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  h3, .h3{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  h4, .h4{
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px){
  article{
    h1, .h1{
      font-size: 1.875rem;
    }

    h2, .h2{
      font-size: 1.5rem;
    }

    h3, .h3{
      font-size: 1.25rem;
    }

    h4, .h4{
      font-size: 1rem;
    }
  }
}
