<template>
  <div class="page-dark-wrapper">
    <TheHeader></TheHeader>
    <Nuxt />
    <TheFooter></TheFooter>
  </div>
</template>

<script>
export default {
  name: "dark_page"
}
</script>

<style scoped lang="scss">
.page-dark-wrapper{
  background-color: #555555;
  color: #e5e7eb;
  nav{
    background-color: #555555 !important;
  }
}
</style>
