<template>
  <div class="">
    <div class="pt-14 container px-4 lg:px-0 mx-auto">
      <TheBreadcrumb></TheBreadcrumb>
    </div>
    <div class="flex flex-col items-center justify-center pt-32">
      <img v-bind:src="personal_data.profile_image" class="w-32 h-32 rounded-full" alt="">
      <h1 class="my-2 font-bold">{{personal_data.name}}</h1>
      <div class="mb-2 version">3.8</div>
      <div class="d-flex my-2">
        <a v-bind:href="personal_data.social.linkedin">
          <font-awesome-icon :icon="['fab', 'linkedin-in']" class="mx-3 text-xl"></font-awesome-icon>
        </a>
        <a v-bind:href="personal_data.social.twitter">
          <font-awesome-icon :icon="['fab', 'twitter']" class="mx-3 text-xl"></font-awesome-icon>
        </a>
        <a v-bind:href="personal_data.social.gitlab">
          <font-awesome-icon :icon="['fab', 'gitlab']" class="mx-3 text-xl"></font-awesome-icon>
        </a>
      </div>
    </div>
    <div class="my-6 container mx-auto text-center">
      <h2 class="mb-4">Interested technologies</h2>
      <ul class="">
        <li class="inline-block px-4 m-2 bg-white text-black rounded-full" v-for="technology in personal_data.technology">{{technology}}</li>
      </ul>
    </div>
    <div class="container mx-auto px-4 xl:px-52 pb-20">
      <div class="lg:grid grid-rows-12 gap-7">
        <div class="col-start-1 col-end-10">
          <div class="introduction">
            <h2 class="mb-6 mt-12 text-4xl text-left">About me</h2>
            <article v-html="personal_data.introduction"></article>
          </div>
        </div>
        <div class="hidden lg:block col-start-1 col-end-5 lg:col-end-6 self-end">
          <img src="/cartoon-program.webp" class="w-full" alt="">
        </div>
        <div class="col-start-6 lg:col-start-7 col-end-13">
          <div class="introduction border-white bg-yellow-300 text-black border-2 rounded-2xl p-4">
            <h2 class="mb-6 mt-12 text-4xl lg:text-right">Powered by</h2>
            <ul v-for="experience in personal_data.experience">
              <li class="my-8">
                <h3 class="text-2xl font-bold">{{experience.organisation}}</h3>
                <div class="py-2">
                  <time v-bind:datetime="experience.from">{{experience.from | filterYearMonth}}</time> -
                  <time v-bind:datetime="experience.to">{{experience.to | filterYearMonth}}</time>
                </div>
                <article v-html="experience.introduction"></article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <AboutShowcase v-bind:projects="personal_data.projects"></AboutShowcase>
  </div>
</template>

<script>
import TheBreadcrumb from "../components/TheBreadcrumb";
var dayjs = require('dayjs')
export default {
  name: "about",
  components: {TheBreadcrumb},
  layout: 'dark_page',
  async asyncData() {
    const personal_data = await fetch(
      process.env.BACKEND_ADDR + '/wp-json/headless-blog/v1/about'
    ).then((res) => res.json())
    return { personal_data };
  },
  filters: {
    filterYearMonth(date) {
      if(date === '') return 'Current';
      return dayjs(date).format('MMMM, YYYY')
    }
  },
}
</script>
