<template>
  <div class="page-index">
    <PageSocialHeader
      v-bind:title="site_name"
      description="Welcome to Raynold's headless blog, a blog for technology topics. This blog is about web developments.">
    </PageSocialHeader>
    <div class="m-auto hero bg-center bg-no-repeat bg-cover mb-5 overflow-hidden relative"
         v-bind:style="'background-image: url('+ homepage_settings.hero +')'"
    >
      <div class="bg-gray-700 absolute top-0 left-0 w-full h-full z-10 opacity-50"></div>
      <div class="p-4 lg:px-40 flex items-center content-center h-80 relative z-20">
        <h2 class="text-3xl text-white m-auto">Welcome to my blog, I write about technology things.</h2>
      </div>
    </div>
    <div class="container m-auto p-4 xl:px-40">
      <div class="grid grid-cols-12">
        <div class="col-start-1 col-span-12 lg:col-end-8">
          <h3 class="text-3xl font-bold mb-4">The latest articles</h3>
          <ThePostExcerpt v-for="post_item in post_data" v-bind:post_data="post_item"></ThePostExcerpt>
        </div>
        <div class="col-start-1 col-span-12 lg:col-start-9 lg:col-end-13">
          <div class="">
            <h3 class="text-3xl font-bold mb-4">Categories</h3>
            <CategoryList v-bind:categories="categories"></CategoryList>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      post_data: [
        {}
      ],
      site_name: process.env.SITE_NAME,
      categories: [
        {}
      ],
    }
  },
  mounted() {
    this.$nextTick(function(){
      this.$nuxt.$loading.start();
      this.getPostData();
    })

  },
  async asyncData({ $axios }) {
    const homepage_settings = await $axios.$get(
      '/wp-json/headless-blog/v1/home/'
    )
    return { homepage_settings };

  },
  methods: {
    async getPostData() {
      this.post_data = await this.$axios.$get(process.env.BACKEND_ADDR + 'wp-json/headless-blog/v1/latest-post');
      this.categories = await this.$axios.$get(process.env.BACKEND_ADDR + 'wp-json/headless-blog/v1/category/');
      this.$nuxt.$loading.finish();
    }
  }
}
</script>


